// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: "Helvetica Neue", "Arial";
    font-size: 18px;
    color: #505050;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

p {
    max-width: 650px;
    line-height: 1.6;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4A90E2;
}

.u-text-center {
  text-align: center;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255,255,255, 0.95);
    z-index: 99999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

.menuItem {
    display: inline;
    margin-left: 20px;
    color: #505050;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.section {
    width: 100%;
    margin-bottom: 120px;
}

.section-fullHeight {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.section-timeline {
    background-color: #E9F0F5;
}

.singleHeadline {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleHeadline h1 {
    font-size: 70px;
    color: white;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.video {
  background-color: black;
  margin-bottom: 60px;
}

.links h2 {
  margin-bottom: 60px;
}

.links .container {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 30%;
  font-size: 24px;
  text-align: center;
}
